@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

h1 {
  padding: 0.5rem;
  font-family: 'Share Tech Mono', monospace;
  font-size: 6rem;
  letter-spacing: 1rem;
  border: 0.3rem double rgba(10, 175, 230, 1);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: aqua;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

h2 {
  margin-bottom: 12.5rem;
  letter-spacing: 1rem;
  font-family: 'Oooh Baby', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  color: aqua;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}